{% extends "aplicacion/base.html" %}
{% load static %}

{% block content %}
<div class="container py-4">

  <div class="card shadow-sm">
    <div class="card-body text-center">

        {% if perfil.foto_perfil %}
            <img src="{{ perfil.foto_perfil.url }}" class="rounded-circle mb-3" width="120" height="120">
        {% else %}
            {% with gen=perfil.genero|default:"O" %}
            <div class="
                    avatar-genero mx-auto mb-3
                    {% if gen == 'M' %} avatar-m
                    {% elif gen == 'F' %} avatar-f
                    {% else %} avatar-o
                    {% endif %}
                ">
                {{ perfil.nombres|default:user.username|slice:":1"|upper }}
            </div>
            {% endwith %}
        {% endif %}


      <h4>{{ perfil.nombres }} {{ perfil.apellidos }}</h4>
      <p class="text-muted">{{ user.email }}</p>

      <a href="{% url 'cuentas:editar_perfil' %}" class="btn btn-primary mt-3">Editar perfil</a>
      <a href="{% url 'cuentas:cambiar_password' %}" class="btn btn-outline-secondary mt-3">Cambiar contraseña</a>

    </div>
  </div>

</div>
<style>
  .avatar-genero {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}

/* Colores por género */
.avatar-m { background: #2563eb; }  /* Masculino - Azul */
.avatar-f { background: #d946ef; }  /* Femenino - Fucsia */
.avatar-o { background: #22c55e; }  /* Otro - Verde */

</style>
{% endblock %}
