{% block content %}

<style>
    .detalle-container {
        max-width: 500px;
        margin: auto;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .detalle-container h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }

    .detalle-item {
        margin-bottom: 10px;
        font-size: 22px;
        color: #555;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .editar-btn, .btn-danger {
        padding: 13px 18px;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        text-decoration: none;
    }

    .editar-btn {
        background: #8400ff;
    }

    .editar-btn:hover {
        background: #0056b3;
    }

    .btn-danger {
        background: #dc3545;
    }

    .btn-danger:hover {
        background: #bd2130;
    }
</style>

<div class="detalle-container">

    <div class="detalle-item"><strong>Turno:</strong> {{ turno.numero_turno }} - {{ turno.procesion.nombre }}</div>
    <div class="detalle-item"><strong>Capacidad:</strong> {{ turno.capacidad }}</div>
    <div class="detalle-item"><strong>Valor:</strong> Q{{ turno.valor }}</div>
    <div class="detalle-item"><strong>Referencia:</strong> {{ turno.referencia }}</div>
    <div class="detalle-item"><strong>Marcha Fúnebre:</strong> {{ turno.marcha_funebre }}</div>
    <div class="detalle-item"><strong>Total de inscritos:</strong> {{ inscritos_count }}</div>
    <div class="detalle-item"><strong>Turnos disponibles:</strong> {{ turnos_disponibles }}</div>

    <div class="btn-container">

    </div>
</div>


{% endblock %}
