/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body, html {
    height: 100%; /* Full height */
    margin: 0; /* Remove default margin */
}
.main-container {
    display: flex;
    height: 100%;
}
.sidebar {
    height: 100%; /* Full height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a:hover {
    background-color: #575757;
}
.home-section {
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}