{% extends 'aplicacion/base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Título -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">Lista de Usuarios</h2>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <!-- Botón para abrir el modal -->
        <button id="crearUsuario" class="btn btn-custom">
            Crear Usuario <i class='bx bx-user-plus'></i>
        </button>
    </div>

    <!-- Tabla de Usuarios -->
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.first_name }}</td>
                    <td>{{ usuario.last_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.groups.first.name }}</td>
                    <td>
                        <a href="#" class="editar-btn" title="Editar" data-userid="{{ usuario.id }}"><i class="fas fa-edit"></i></a>
                        <a href="#" class="eliminar-btn" title="Eliminar" data-userid="{{ usuario.id }}"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center text-muted">No hay usuarios registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $("#crearUsuario").click(function () {
            var formularioSrc = "{% url 'usuarios:crear_usuario' %}";

            // SweetAlert para mostrar el modal
            Swal.fire({
                title: 'Crear Usuario',
                html: `<iframe src="${formularioSrc}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                customClass: {
                    container: 'swal-container',
                    popup: 'swal-popup my-custom-modal-class',
                },
                didClose: () => {
                    // Recargar la página completa después de cerrar la ventana flotante
                    location.reload();
                },
            });

            window.addEventListener('message', function (event) {
                if (event.data === 'closeModal') {
                    Swal.close(); // Cerrar el modal de SweetAlert
                }
            });

            return false;
        });

        $(".editar-btn").click(function() {
        var userId = $(this).data('userid');
        var formulario = "{% url 'usuarios:editar_usuario' 0 %}".replace('0', userId);

        // SweetAlert para mostrar el modal
        Swal.fire({
            title: 'Editar Usuario',
            html: `<iframe src="${formulario}" width="100%" height="500vh" frameborder="0" style="max-width: 100%;"></iframe>`,
            showCloseButton: true,
            showConfirmButton: false,
            customClass: {
                container: 'swal-container',
                popup: 'swal-popup my-custom-modal-class',
            },
            didClose: () => {
                // Recargar la página después de cerrar el modal
                location.reload();
            },
        });

        window.addEventListener('message', function (event) {
            if (event.data === 'closeModal') {
                Swal.close(); // Cerrar el modal de SweetAlert
            }
        });

        return false;
    });

    // Al hacer clic en "Eliminar"
    $(".eliminar-btn").click(function() {
    var userId = $(this).data('userid');
    var formulario = "{% url 'usuarios:inactivar_usuario' 0 %}".replace('0', userId);

    // SweetAlert para mostrar el modal
    Swal.fire({
        title: 'Eliminar Usuario',
        html: `<iframe src="${formulario}" width="100%" height="400px" frameborder="0" style="max-width: 100%;"></iframe>`,
        showCloseButton: true,
        showConfirmButton: false,
        width: '600px', // Aumenta el ancho del SweetAlert
        customClass: {
            container: 'swal-container',
            popup: 'swal-popup my-custom-modal-class',
        },
        didClose: () => {
            location.reload();
        },
    });

    // Escuchar el mensaje del iframe para cerrar el modal
    window.addEventListener('message', function(event) {
        if (event.data === 'closeModal') {
            Swal.close();  // Cerrar el modal de SweetAlert
        }
    });

    return false;
    });

    });
</script>

<style>
    .btn-custom{
        background-color: #343a40;
        color: #fff;
        border-color: #343a40;
    }
</style>
{% endblock %}
